{% extends 'base_bus.html.twig' %}


{% block body %}
    
{% block menu %}
    {{ parent() }}
{% endblock %}

    <div class="container content">
        <div class="row content">
            <div class="jumbotron">
                <h1>Noctiliens <small>Relevés bus</small></h1>

                <p>
                    Bienvenue dans l'espace de gestion des relevés d'enquêtes.
                </p>

                    <button class="btn btn-success" onclick="window.location.href='{{ path('bus_reporting_now') }}'"><span class="glyphicon glyphicon-pencil"></span> Suivi relevés</button>
                    <button class="btn btn-success"><span class="glyphicon glyphicon-stats"></span> Suivi indicateurs</button>
            </div>
        </div><!-- row navigation-->
    </div><!-- container navigation-->

{% endblock %}


