{% extends 'base_client.html.twig' %}


{% block body %}
    
{% block menu %}
    {{ parent() }}
{% endblock %}

    <div class="container content">
        <div class="row content">
            <div class="jumbotron">
                <h1>Noctiliens <small>Espace client</small></h1>

                
            </div>
        </div><!-- row navigation-->
    </div><!-- container navigation-->

{% endblock %}


