{% extends 'base_bus.html.twig' %}


{% block body %}

{% block menu %}
    {{ parent() }}
{% endblock %}

    <div class="container">
        
        <div class="row content">

            <h3>Génération de résultats JSON</h3>

            {% for message_save_form in app.session.flashbag.get('infos') %}
                <div class="alert alert-info" role="alert">
                    {{ message_save_form }}
                </div>
            {% endfor %}
            
            <div class="row col-xs-3 col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">Choisir une date</div>
                    <div class="panel-body">
                        <table style="width:100%;">
                            <td>
                                <select class="day">
                                <option value='01'>01</option>
                                <option value='02'>02</option>
                                <option value='03'>03</option>
                                <option value='04'>04</option>
                                <option value='05'>05</option>
                                <option value='06'>06</option>
                                <option value='07'>07</option>
                                <option value='08'>08</option>
                                <option value='09'>09</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                                <option value='16'>16</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                                <option value='23'>23</option>
                                <option value='24'>24</option>
                                <option value='25'>25</option>
                                <option value='26'>26</option>
                                <option value='27'>27</option>
                                <option value='28'>28</option>
                                <option value='29'>29</option>
                                <option value='30'>30</option>
                                <option value='31'>31</option>
                                </select>
                            </td>
                            <td>
                                <select class="month">
                                <option value='01'>01</option>
                                <option value='02'>02</option>
                                <option value='03'>03</option>
                                <option value='04'>04</option>
                                <option value='05'>05</option>
                                <option value='06'>06</option>
                                <option value='07'>07</option>
                                <option value='08'>08</option>
                                <option value='09'>09</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                </select>
                            </td>
                            <td>
                                <select class="year">
                                <option value='2016'>2016</option>
                                <option value='2017'>2017</option>
                                <option value='2018'>2018</option>
                                <option value='2019'>2019</option>
                                <option value='2020'>2020</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-xs btn-primary generate_json"><span class="glyphicon glyphicon-ok"></span></button>
                            </td>
                        </table>
                    </div>
                </div>
            
            </div>
        </div><!-- row navigation-->
    </div><!-- container navigation-->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bus/json/generate.js') }}"></script>
{% endblock %}


